body{
    text-shadow: 1px 1px 1px rgb(58, 56, 56);
    background-color: antiquewhite;
    color: blue;
    text-align: center;
}
h1{
    font-size: 40px;
}
.urlap{
    background-color: darkgrey;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
hr{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: darkgrey;
    background-color: darkgray;
}
form{
    margin: auto;
    text-align: left;
    width: 80%;
}
.sor{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.mezo{
    margin:auto;
    margin-left: 1;
}
label{
    margin:auto;
    margin-left: 0;
}
.gombok{
    display: flex;
    flex-direction: column;
}
#center{
    margin-top: auto;
    margin-bottom: auto;
}
#vendegszan{
    padding-right: 0px;
    margin-right: 0px;
    width: 40px;
    margin-left: 0px;
}
.evek{
    width: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
    background-color:  darkgray;
    text-shadow: 1px 1px 1px rgb(58, 56, 56);
    padding: 5px;
    border-radius: 5px;
    color: blue;
}
@media only screen and (max-width: 870px) {
    h1{
        font-size: 30px;
    }
    form{
        font-size: 12px;
    }
    .evek{
        font-size: 12px;
        width: 10px;
        margin: 5px;
    }
    .mezo{
        height: 10px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 740px) {
    .sor{
        flex-direction: column;
    }
    .mezo{
        margin: 0;
    }
    label{
        float: right;
        text-align: left;
    }
    .evek{
        float: left;
    }
    .evdiv{
        width: 30%;
    }
    #erkezes{
        font-size: 8px;
    }
    #tavozas{
        font-size: 8px;
    }
}
@media only screen and (max-width: 530px) {
    h1{
        font-size: 20px;
    }
    label{
        float: right;
        text-align: left;
    }
    form{
        font-size: 10px;
    }
}