body{
    background-color: antiquewhite;
    color: blue;
    text-align: center;
}
h1{
    font-size: 40px;
}
.urlap{
    background-color: darkgrey;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    width: 50%;
}
hr{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: darkgrey;
    background-color: darkgray;
}
form{
    margin: auto;
    text-align: left;
    width: 80%;
}
.sor{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.mezo{
    margin:auto;
    margin-left: 1;
}
label{
    margin:auto;
    margin-left: 0;
}
.gombok{
    display: flex;
    flex-direction: column;
}
#center{
    margin-top: auto;
    margin-bottom: auto;
}
#vendegszan{
    padding-right: 0px;
    margin-right: 0px;
    width: 40px;
    margin-left: 0px;
}
#ev1{
    width: 30px;
}
#ev2{
    width: 30px;
}
#ev3{
    width: 30px;
}
#ev4{
    width: 30px;
}