body{
    background-color: antiquewhite;
    color: blue;
    text-align: center;
}
h1{
    font-size: 40px;
}
.urlap{
    background-color: darkgrey;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    width: 50%;
}
hr{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: darkgrey;
    background-color: darkgray;
    width: 10%;
}
form{
    text-align: left;
    width: 50%;
}